/*********** CONTAINER MAIN ***********/
.label_super_container{
    background-color: var(--main-bg-color);
    min-height: 100vh;
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    color: var(--main-green-color);
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;

}
/*********** CONTAINER 0 ***********/
.label_title_container{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    padding-top: 0.75rem;
    cursor:pointer;
    
}
/*********** CONTAINER 1 ***********/
.label_description_container{
    width: 450px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    text-transform: uppercase;
    padding-top: 0.5rem;

}
.label_description_container_description{
    width: 95%;
    margin-right: 1rem;
    font-size: 14px;
    cursor: pointer;

}
.label_description_container_description_bio{
    margin-top: 1rem;
    font-size: 16px;
}
.label_description_container_qr{
    width: 40%;
    border: 2px solid var(--main-green-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
/*********** CONTAINER 2 ***********/
.nutritional_tabel_container{
    width: 450px;
    box-sizing: border-box;
    border: 2px solid  var(--main-green-color);
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.35vh;
    margin-top: 0.5rem;
    cursor: pointer;
}
.nutritional_tabel_row_container_title{
    font-size: 13px;
    margin: 0.5rem;

}
.nutritional_tabel_row_container{
    width: 100%;

}
.nutritional_tabel_row{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-transform: capitalize;
    border-bottom: 2px solid var( --main-green-color);
    padding: 0.5rem;
    padding-top: 0rem;
    margin: 0.5rem;
}
.nutritional_tabel_row:last-child{

    border-bottom: none;
  
}
.nutritional_tabel_row_text{
    width: 50%;

}
.nutritional_tabel_row_number{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
  
}
/*********** CONTAINER 3 ***********/
.info_logo_container{
    width: 450px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;



}
.info_logo_container_info{

    width: 30%;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}
.info_logo_container_info_basirico{
    border: 2px solid  var(--main-green-color);
    border-radius: 4px;
    height: 28%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.info_logo_container_info_bellitti{
    border: 2px solid var(--main-green-color);
    border-radius: 4px;
    height: 28%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.info_logo_container_info_conservare{
    border: 2px solid var(--main-green-color);
    border-radius: 4px;
    height: 28%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.info_logo_container_logo{

    width: 70%;
    height: 100%;
}
.info_logo_container_logo_img{
    width: 100%;
}
/*********** CONTAINER 4 ***********/
.certification_info_container{
    width: 450px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;

}
.certification_info_container_biocert{
    box-sizing: border-box;
    width: 30%;
    margin-right: 1rem;
}
.biocert_img{
    width: 100%;
    height: auto;
}
.label_certification_info_container_info_container{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.label_certification_info_container_userecycle{
    height: 60%;
  
    display: flex;
    flex-direction: row;
    margin-bottom: 0.8rem;
    
}
.label_certification_info_container_userecycle_box_1,.label_certification_info_container_userecycle_box_2,.label_certification_info_container_userecycle_box_3,.label_certification_info_container_userecycle_box_4{
    max-height: 100%;
    width: 25%;
    border: 2px solid  var(--main-green-color);
}
.label_certification_info_container_userecycle_box_1,.label_certification_info_container_userecycle_box_2,.label_certification_info_container_userecycle_box_3{
    margin-right: 0.5rem;
    font-size: 8px;
    padding: 0.25rem;
    background-color: #f5f5f5;
    color: #002F35;
    border-radius: 4px;
    border: 2px solid #f5f5f5 ;
}
.label_certification_info_container_italianolitres{
    height: 40%;

    display: flex;
    flex-direction: row;
}
.label_certification_info_container_italianolitre_box_1{
    width: 50%;
    border: 2px solid  var(--main-green-color);
    border-radius: 4px;
    background-color: var(--main-green-color);
    color:#002F35;
    font-weight: 800;
    margin-right: 0.7rem;
    font-size: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.label_certification_info_container_italianolitre_box_2{
    width: 50%;
    border: 2px solid  var(--main-green-color);
    border-radius: 4px;
    background-color:var(--main-green-color);
    color:#002F35;
    font-weight: 800;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*********** CONTAINER 5 ***********/
.flag_container{
    width: 450px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;

}

.super_container_alpha{
    display: flex;
    flex-direction: row;
}

.showbox_container{
    background-color: var(--main-bg-color);

    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid var(--main-green-color);
    overflow-y: scroll;
}
