html {
  font-size: 16px; 
  font-family: 'Inter'; 
  background-color:var(--secondary-color);
  overflow-x: hidden;

}

:root {

  --main-bg-color: #002F35;
    --main-accent-color: #ffffff;
    --secondary-accent-color: #f5f5f5;
    --font-color: #002F35;
    --font-size-small: 12px;
    --font-size-medium: 14px;
    --font-size-large: 24px;
    --border-radius: 4px;
    --border-width: 2px;


}  



