html {
  font-size: 16px; 
  font-family: 'Inter'; 
  background-color:var(--secondary-color);
  overflow-x: hidden;

}

:root {

  --primary-color: #99FF00;
  --secondary-color: #002F35;
  --tertiary-color: #f5f5f5;

  --black-color:#000000;

  --margin-small: 1vw;
  --margin-medium:2vw;
  --margin-big:3vw;

  --font-size-small: 1vw;
  --font-size-medium: 2vw;
  --font-size-big: 3vw;


}  



